/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
    background: $blue-grey;
    color: $white;
    .columns {
        margin-top: 35px;
    }
    .footer-logo {
        img {
            height: 40px;
        }
    }
    .footer-column {
        .footer-header h3 {
            font-weight:500;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        ul.link-list {
            display: flex;
            line-height: 40px;
            font-size: 1.1rem;
            flex-direction: column; /* Arrange items in a column */
            align-items: left; /* Center items horizontally */
            justify-content: center; /* Center items vertically */
            a {
                color: $smoke-white;
                font-weight: 400;
                transition: all 0.5s;
            }
            :hover {
                color: $primary;
            }
        }
        .level-item .icon {
            color: $primary;
            transition: all 0.5s;
            :hover {
                color: $smoke-white;
            }
        }
    }
}

.icon-gap {
    margin-right: 20px; /* Adjust the value as needed */
  }